/*reset the style of the browser*/

html, body {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

canvas {
	-webkit-filter: blur(1px);
	filter: blur(2px);
	position: relative;
	z-index: 10;
}

.bigContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	z-index: 20;
}
.container {

}

h1 {

}

.colorChange li{
	display: inline;

}